.header{
    text-align: center;
}
.header img{
    height:80px;
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;

}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    padding: 5px;
}
nav a:hover{
    background-color:gray;
}
.sign-out-btn{
    background-color: black;
    color: burlywood;
    margin-right: 25px;
    padding: 5px;
    display: contents;
    cursor: pointer;
}
.user-name{
    color: powderblue;
}